.card-item {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
  background-color: #1d1d1d;
  padding: 2rem;
  border: 1px solid whitesmoke;
  border-radius: 30px;
  text-align: start;
  height: 196px;
  width: 416px;

  h1 {
    color: white;
  }
  #university {
    font-size: 2rem;
    color: white;
    font-weight: bold;
  }
  #faculty {
    color: white;
    font-size: 1rem;
  }
  #department {
    color: white;
    font-size: 1rem;
  }
  #GPA {
    color: white;
    font-size: 1rem;
  }
  #startyear {
    color: white;
    font-size: 1rem;
  }
  #endyear {
    color: white;
    font-size: 1rem;
  }

  &:hover {
    box-shadow: rgba(111, 76, 255, 0.5) 0px 0px 20px 0px;
    transition: all 0.5s;
  }

  button {
    padding: .5rem;
    border-radius: 10px;
    
  }
}

.card-list {
  padding-bottom: 2rem;
  color: white;
}

.card-item-dashboard {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
  background-color: #1d1d1d;
  padding: 2rem;
  border: 1px solid whitesmoke;
  border-radius: 30px;
  text-align: start;
  h1 {
    color: white;
  }
  #university {
    font-size: 2rem;
    color: white;
    font-weight: bold;
  }
  #faculty {
    color: white;
    font-size: 1rem;
  }
  #department {
    color: white;
    font-size: 1rem;
  }
  #GPA {
    color: white;
    font-size: 1rem;
  }
  #startyear {
    color: white;
    font-size: 1rem;
  }
  #endyear {
    color: white;
    font-size: 1rem;
  }

  &:hover {
    box-shadow: rgba(111, 76, 255, 0.5) 0px 0px 20px 0px;
    transition: all 0.5s;
  }

  button {
    padding: .5rem;
    border-radius: 10px;
    
  }
}

.card-list-dashboard {
  padding-bottom: 2rem;
  color: white;
}

.btn-gradient-border {
  border: 2px double transparent;
  background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)),
    radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: all .5s;
  &:hover {
    background-image: linear-gradient(to right, rgb(1,134 ,218), rgb(182 ,49 ,167));
    color: white;
    border: 1px solid white;
    transform: scale(1.2);
    border-color: linear-gradient(to right, rgb(1,134 ,218), rgb(182 ,49 ,167));
    box-shadow: rgba(111, 76, 255, 0.5) 0px 0px 20px 0px;
    transition: all 1s;
  }
}

.card-list {
  h1 {
    color: white;
  }
}

h1 {
  color: white;
}

// ::-webkit-scrollbar {
//   display: none;
// }

.cards {
  margin: 1rem;
  padding: 1rem;
  height: 450px;
  width: 350px;
  text-align: center;
  color: white;
  position: relative;
  background-color: #343444;
  border-radius: 20px;
  transition: transform 1s;

  &:hover {
    box-shadow: 0px 0px 20px 0px rgba(256, 256, 256, 0.1);
    transition: all 0.5s ease-out;
    transform: translateY(-40px);
    
  }
}

.cards-media {
  position: relative;
  margin-bottom: 16px;
  padding: 1rem;
  box-sizing: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.cards-title {
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }
}

.cards-info {
  text-align: start;
  align-items: start;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;

  h6 {
    font-size: .9rem;
  }
}
